.Menu{

	bottom:0px;
	position:fixed;
	width: 100%;
	z-index: 1000;
	background: white;
}
.navMenu{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items:center;
	border-top:1px solid #F2F2F2;
	padding-top: 2%;
	-webkit-box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.75);
box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.75);
}

.navMenu .col svg{
	font-size: 15px;
	text-align: center;
	
}
.navMenu .col.selected{
	color: #2b7a00;
}
.navMenu .col p{
	text-align: center;
}
.cart{
	 width: 30px;
     height: 70px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #5cb85c;
     position: relative;
     z-index: 100;
}

.Cart_img{
	margin-top: -30px;
}