#App{
	background: #F2F2F2;
}
.categories{
	margin-top: 2px;
}
.categories_container{
	display: flex;
	justify-content: center;
}

.categories_container{
	border-bottom:1px solid #F2F2F2;
	padding-bottom: 10px;

}

.categories__img .col:nth-child(2n){
	    margin-left: -65px;
}
.carousel .slide {
	background:transparent!important;
}
.thumbs-wrapper{
	display:none!important;
}
.control-arrow{
	background:transparent!important;

}
.carousel .control-next.control-arrow:before {
    border-left: 8px solid black!important;
}

.carousel .control-prev.control-arrow:before{
	border-right: 8px solid black!important;
}