#root{
		background:url('http://app.supexcr.com/img/backgroundwhite.jpg');
		background-repeat: no-repeat;
  		background-attachment: fixed;
  	    background-position: center;
}

.Header{
	width: 100%;
	padding-bottom: 10px;
	
margin-bottom: 10px;
display: flex;
text-align: center;
}
.Header span{

	font-weight: bold;
	font-size: 15px;
	text-align: center;
}


.Header svg{
	color:#e30613;
	height: 50px;
	font-family: 'Arial';
}

.Header img{
	margin:0 auto;
	margin-top: 20px;
	margin-bottom: 20px;

}
.Header__location{
	-webkit-box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.75);
box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.75);
margin-bottom: 10px;
background: url('http://app.supexcr.com/img/white.jpg');

}
.Header__search{

		display: flex;
	align-items: center;
	justify-content: center;
}

.Header__search input{

	width:275px;
	background-color: #F2F2F2;
	border:0px;
}
#inputGroupPrepend{
	border:0px;
	height: 39px;
	margin-left: -10px;
	background: #e30613;
	color:white;
}

#inputGroupPrepend svg{
	color:white;
}

