.Products{
	margin-top: 20px;
	margin-bottom: 100px;
}

.product img{
	border-radius:10px;
	border:2px solid #F2F2F2;
}

.product p{
	font-weight: bold;
	font-family: arial;
	font-size: 12px;
	color:#343a40;
}
.product h5{
	margin-top: -10px;
	font-weight: bold;
	font-family: arial;
	color:#2b7a00;
}
.product button{
	background: transparent;
	border: 1px solid #343a40;
	color:#343a40;
	font-size: 12px;
	margin-bottom: 10px;
}
