.Menu{

	bottom:0px;
	position:fixed;
	width: 100%;
	z-index: 1000;
	background: white;
}
.navMenu{
	text-align: center;
	display: flex;
	justify-content: center;
	align-items:center;
	border-top:1px solid #F2F2F2;
	padding-top: 2%;
	-webkit-box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.75);
box-shadow: 0px -1px 19px -6px rgba(0,0,0,0.75);
}

.navMenu .col svg{
	font-size: 30px;
	text-align: center;
	
}
.navMenu .col.selected{
	color: #6F0F11;
}
.navMenu .col p{
	text-align: center;
}